@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="display-4">Лабораторна робота з курсу Web-технології</h2>
    <p>Розробили Шимків Дмитро та Артем Божок</p>
</div>
